[submodule "./IEIBack"]
  path=./IEIBack
  url=../IEIBack.git
[submodule "./IEICAT"]
  path=./IEICAT
  url=../IEICAT.git
[submodule "./IEICV"]
  path=./IEICV
  url=../IEICV.git
[submodule "./IEIEUS"]
  path=./IEIEUS
  url=../IEIEUS.git
[submodule "./IEIFront"]
  path=./IEIFront
  url=../IEIFront.git