[submodule "IEIBack"]
	path = IEIBack
	url = https://github.com/SalvaChiLlo/IEIBack.git
[submodule "IEIFront"]
	path = IEIFront
	url = https://github.com/SalvaChiLlo/IEIFront.git
[submodule "IEIEUS"]
	path = IEIEUS
	url = https://github.com/SalvaChiLlo/IEIEUS.git
